<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>DAE</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="landingPage/css/base.css">
    <link rel="stylesheet" href="landingPage/css/vendor.css">
    <link rel="stylesheet" href="landingPage/css/main.css">

    <!-- script
    ================================================== -->
    <script src="landingPage/js/modernizr.js"></script>
    <script src="landingPage/js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="landingPage/favicon.ico" type="image/x-icon">
    <link rel="icon" href="landingPage/favicon.ico" type="image/x-icon">

</head>

<body id="top">

    <!-- header
    ================================================== -->
    <header class="s-header">

        <div class="header-logo">
            <a class="site-logo" href="/">
                <img src="landingPage/images/logo.png" alt="Homepage">
            </a>
        </div>

      

    </header> <!-- end s-header -->


    <!-- home
    ================================================== -->
    <section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="landingPage/images/hero-bg5.jpg" data-natural-width=3000 data-natural-height=2000 data-position-y=center>

        <div class="overlay"></div>
        <div class="shadow-overlay"></div>

        <div class="home-content">

            <div class="row home-content__main">

                <h3 class="text-center">গোপালগঞ্জ,খুলনা,বাগেরহাট,সাতক্ষীরা এবং পিরোজপুর কৃষি উন্নয়ন প্রকল্প এ স্বাগতম</h3>

                <h1>
                    উদ্দেশ্যঃ ১)  ১৯০% থেকে ৫-৮% শস্য নিবিড়তা বৃদ্ধির মাধ্যমে প্রকল্প এলাকার কৃষি উৎপাদন ও উৎপাদনশীলতা বৃদ্ধি করা; ২) উপযুক্ত শস্যজাত, মানবসম্পদ বীজ, যথাযথ মাটির স্বাস্থ্য ব্যবস্থাপনা, জৈব সারও জৈবিক বালাই ব্যবস্থাপনা, কৃষি তাত্বিক পরিচযা ও সেচ ব্যবস্থাপনার মাধ্যমে বিভিন্ন ফসলের গড় ফলন পার্থক্য ৫% হ্রাস করা; ৩) মাঠ পযায়ে কাযকরী সম্প্রসারণ সেবা প্রদানের জন্য প্রশিক্ষণের মাধ্যমে ৩৩৯০ মানব সম্পদের দক্ষতা বৃদ্ধি করা ও বসতবাড়ির খালি জমিতে উদ্যান ফসলের আবাদের মাধ্যমে সকল শ্রেণীর কৃষক পরিবারের পুষ্টিমান উন্নয়ন , ৪) আয়বর্ধক কাযক্রমে ৩০% থেকে নূন্যতম ৫% মহিলাদের সম্পৃক্ততা বৃদ্ধির মাথ্যমে নিরাপদ খাদ্য উৎপাদনে কৃষকদের সচেতনতা বৃদ্ধি করা ।                </h1>

                <div class="home-content__buttons">
                    <a href="/pd/login" class=" btn btn--stroke">
                        PD Login
                    </a>
                    <a href="/ad/login" class=" btn btn--stroke">
                        AD Login
                    </a>
                    <a href="/dd/login" class=" btn btn--stroke">
                        DD Login
                    </a>
                    <a href="/upazilla/login" class=" btn btn--stroke">
                        Upazilla Login
                    </a>
                </div>
               

            </div>

           

            <div class="home-content__line"></div>

        </div> <!-- end home-content -->




    </section> <!-- end s-home -->


   


    <!-- footer
    ================================================== -->
    <footer>


        <div class="row footer-bottom">

            <div class="col-twelve">
                <div class="copyright">
                    <span>Created by <a href="https://www.kerneltechnologies.ltd/">Kernel Technologies Ltd.</a></span>	
                </div>

                <div class="go-top">
                    <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon-arrow-up" aria-hidden="true"></i></a>
                </div>
            </div>

        </div> <!-- end footer-bottom -->

    </footer> <!-- end footer -->


    <!-- photoswipe background
    ================================================== -->
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title=
                    "Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title=
                    "Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button class="pswp__button pswp__button--arrow--right" title=
                "Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>

        </div>

    </div> <!-- end photoSwipe background -->


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
            <div class="line-scale-pulse-out">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="landingPage/js/jquery-3.2.1.min.js"></script>
    <script src="landingPage/js/plugins.js"></script>
    <script src="landingPage/js/main.js"></script>

</body>

</html>